body {
    margin-left: auto;
    margin-right: auto;
}

.hero {
    margin-top: 50px;
}

.button {
    padding: 8px 35px 8px 35px;
}

.light {
    background-color: #999;
}

.main {
    background-color: #0066CC;
}